.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.navbar a {
  color: #f2f2f2;
  text-align: end;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 15px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s, transform 0.3s;
}

.navbar a:hover {
  background-color: #d6ad78;
  color: black;
  border-radius: 50%;
  transform: scale(1.1);
}

.navbar a:active {
  background-color: #804c1d;
  color: white;
  transform: scale(1.1);
}

.logo {
  margin-left: 0px;
  width: 60px;
  margin-right: 10px;
}