.product-card {
  background-color: white;
  display: inline-block;
  width: 31.22%;
  margin: 1%;
  margin-top: 0px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-card h3 {
  margin-top: 0;
  margin-left: 10px;
  font-size: 1.5em;
  color: #333;
}

.product-card p {
  font-size: 0.8em;
  white-space: nowrap;
  margin-top: -20px;
  margin-left: 10px;
  padding-bottom: 10px;
  color: #666;
}

.product-card .price {
  text-decoration: line-through;
  color: #ff0000;
  margin-right: 5px;
}

.product-card .discountedPrice {
  position: absolute;
  color: #15ff00;
  font-weight: bold;
  font-size: larger;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-container button {
  background-color: #6b6b6b;
  color: #ffffff;
  border: none;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
  transition: transform 0.1s, background-color 0.2s ease-in-out;
}

.button-container button:hover {
  background-color: #cfcfcf;
  transform: scale(1.05);
}

.button-container button:active {
  background-color: #202020;
  color: white;
}